# Python cache
__pycache__/
*.pyc

# Virtual environment
myenv/
venv/

# Dataset (large files)
dataset/

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db